{
  "openapi": "3.0.3",
  "info": {
    "title": "That's Me API",
    "version": "1.0",
    "description": "API pública da That's Me — emita certificados digitais, consulte eventos e analytics via API."
  },
  "servers": [
    {
      "url": "https://api.thatsme.com.br/api",
      "description": "Produção"
    },
    {
      "url": "https://servicetest.thatsme.com.br/api",
      "description": "Sandbox"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "API_KEY"
      }
    },
    "schemas": {
      "RecipientDto": {
        "type": "object",
        "required": [
          "recipient_name",
          "recipient_email"
        ],
        "properties": {
          "recipient_name": {
            "type": "string",
            "description": "Nome completo do destinatário"
          },
          "recipient_email": {
            "type": "string",
            "format": "email",
            "description": "E-mail do destinatário que receberá o convite"
          },
          "recipient_number": {
            "type": "string",
            "description": "Número do destinatário para notificações por SMS ou WhatsApp (formato E.164). Exemplo: +5531987654321"
          },
          "reason": {
            "type": "string",
            "description": "Motivo pelo qual o destinatário está recebendo o certificado. Exemplo: Curso de Python para Data Science com duração de 40 horas no nível Intermediário"
          }
        }
      },
      "IssueInvitationDto": {
        "type": "object",
        "required": [
          "event_id",
          "badge_id"
        ],
        "properties": {
          "event_id": {
            "type": "string",
            "format": "uuid",
            "description": "ID do evento vinculado à emissão"
          },
          "badge_id": {
            "type": "string",
            "format": "uuid",
            "description": "ID do badge utilizado na emissão"
          },
          "recipient": {
            "description": "Destinatário único ou array de destinatários",
            "oneOf": [
              {
                "$ref": "#/components/schemas/RecipientDto"
              },
              {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/RecipientDto"
                }
              }
            ]
          },
          "recipient_name": {
            "type": "string",
            "description": "Nome completo do destinatário (obrigatório se recipient não for fornecido)"
          },
          "recipient_email": {
            "type": "string",
            "format": "email",
            "description": "E-mail do destinatário que receberá o convite (obrigatório se recipient não for fornecido)"
          },
          "recipient_number": {
            "type": "string",
            "description": "Número do destinatário para notificações por SMS ou WhatsApp (formato E.164). Exemplo: +5531987654321"
          },
          "reason": {
            "type": "string",
            "description": "Motivo pelo qual o destinatário está recebendo o certificado"
          }
        }
      },
      "CreateEventDto": {
        "type": "object",
        "required": [
          "name",
          "description",
          "category",
          "location_type"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "Nome do evento"
          },
          "description": {
            "type": "string",
            "description": "Descrição do evento"
          },
          "category": {
            "type": "string",
            "enum": [
              "SPORTS",
              "EDUCATION",
              "CORPORATE",
              "SOCIOCULTURAL"
            ],
            "description": "Categoria do evento"
          },
          "location_type": {
            "type": "string",
            "enum": [
              "PHYSICAL",
              "ONLINE"
            ],
            "description": "Tipo de localização do evento"
          },
          "state": {
            "type": "string",
            "description": "State or province of the event (e.g., 'SP', 'CA', 'Bayern'). Required when location_type is PHYSICAL.",
            "nullable": true
          },
          "city": {
            "type": "string",
            "description": "City of the event. Required when location_type is PHYSICAL."
          },
          "country": {
            "type": "string",
            "description": "ISO 3166-1 alpha-2 country code (e.g., 'BR', 'US', 'DE').",
            "nullable": true
          },
          "latitude": {
            "type": "number",
            "description": "Latitude of the event location.",
            "nullable": true
          },
          "longitude": {
            "type": "number",
            "description": "Longitude of the event location.",
            "nullable": true
          },
          "timezone": {
            "type": "string",
            "description": "IANA timezone identifier (e.g., 'America/Sao_Paulo', 'Europe/Berlin').",
            "nullable": true
          },
          "address": {
            "type": "string",
            "description": "Full formatted address of the event location.",
            "nullable": true
          },
          "initial_date": {
            "type": "string",
            "description": "Data de início em formato ISO 8601. Salva em dd/mm/aaaa. Obrigatório para date_mode SINGLE_DATE ou DATE_RANGE."
          },
          "finish_date": {
            "type": "string",
            "description": "Data de término em formato ISO 8601. Salva em dd/mm/aaaa. Obrigatório para date_mode DATE_RANGE."
          },
          "official_url": {
            "type": "string",
            "description": "URL oficial do evento"
          },
          "image_url": {
            "type": "string",
            "description": "URL da imagem do evento"
          },
          "image_key": {
            "type": "string",
            "description": "Chave da imagem do evento (S3)"
          },
          "is_private": {
            "type": "boolean",
            "description": "Define se o evento é privado"
          },
          "date_mode": {
            "type": "string",
            "enum": [
              "SINGLE_DATE",
              "DATE_RANGE",
              "RECURRING",
              "ALWAYS_AVAILABLE"
            ],
            "description": "Modo de datas do evento"
          },
          "start_time": {
            "type": "string",
            "description": "Horário de início do evento (quando aplicável)"
          },
          "end_time": {
            "type": "string",
            "description": "Horário de término do evento (quando aplicável)"
          },
          "recurrence_type": {
            "type": "string",
            "enum": [
              "WEEKLY",
              "BIWEEKLY",
              "MONTHLY",
              "BIMONTHLY",
              "QUARTERLY",
              "SEMIANNUAL",
              "ANNUAL"
            ],
            "description": "Tipo de recorrência. Obrigatório para date_mode RECURRING."
          },
          "recurrence_start_date": {
            "type": "string",
            "description": "Data de início da recorrência em formato ISO 8601. Salva em dd/mm/aaaa. Obrigatório para date_mode RECURRING."
          },
          "connected_event_ids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Lista de IDs de eventos conectados"
          }
        }
      },
      "CreateEventsBodyDto": {
        "type": "object",
        "required": [
          "events"
        ],
        "properties": {
          "events": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CreateEventDto"
            },
            "minItems": 1,
            "description": "Um evento ou array de eventos para criação"
          }
        }
      },
      "UpdateEventDto": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Nome do evento"
          },
          "description": {
            "type": "string",
            "description": "Descrição do evento"
          },
          "category": {
            "type": "string",
            "enum": [
              "SPORTS",
              "EDUCATION",
              "CORPORATE",
              "SOCIOCULTURAL"
            ],
            "description": "Categoria do evento"
          },
          "location_type": {
            "type": "string",
            "enum": [
              "PHYSICAL",
              "ONLINE"
            ],
            "description": "Tipo de localização do evento"
          },
          "state": {
            "type": "string",
            "description": "State or province of the event.",
            "nullable": true
          },
          "city": {
            "type": "string",
            "description": "City of the event.",
            "nullable": true
          },
          "country": {
            "type": "string",
            "description": "ISO 3166-1 alpha-2 country code.",
            "nullable": true
          },
          "latitude": {
            "type": "number",
            "description": "Latitude of the event location.",
            "nullable": true
          },
          "longitude": {
            "type": "number",
            "description": "Longitude of the event location.",
            "nullable": true
          },
          "timezone": {
            "type": "string",
            "description": "IANA timezone identifier.",
            "nullable": true
          },
          "address": {
            "type": "string",
            "description": "Full formatted address.",
            "nullable": true
          },
          "initial_date": {
            "type": "string",
            "description": "Data de início em formato ISO 8601"
          },
          "finish_date": {
            "type": "string",
            "description": "Data de término em formato ISO 8601"
          },
          "official_url": {
            "type": "string",
            "description": "URL oficial do evento"
          },
          "image_url": {
            "type": "string",
            "description": "URL pública da imagem do evento"
          },
          "image_key": {
            "type": "string",
            "description": "Identificador da imagem no storage da That's Me (ex.: S3)"
          },
          "is_private": {
            "type": "boolean",
            "description": "Define se o evento é privado"
          },
          "date_mode": {
            "type": "string",
            "enum": [
              "SINGLE_DATE",
              "DATE_RANGE",
              "RECURRING",
              "ALWAYS_AVAILABLE"
            ],
            "description": "Modo de datas do evento"
          },
          "start_time": {
            "type": "string",
            "description": "Horário de início (quando aplicável)"
          },
          "end_time": {
            "type": "string",
            "description": "Horário de término (quando aplicável)"
          },
          "recurrence_type": {
            "type": "string",
            "enum": [
              "WEEKLY",
              "BIWEEKLY",
              "MONTHLY",
              "BIMONTHLY",
              "QUARTERLY",
              "SEMIANNUAL",
              "ANNUAL"
            ],
            "description": "Tipo de recorrência"
          },
          "recurrence_start_date": {
            "type": "string",
            "description": "Data de início da recorrência em formato ISO 8601"
          },
          "connected_event_ids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Lista de IDs de eventos conectados"
          }
        }
      },
      "CreateWebhookEndpointDto": {
        "type": "object",
        "required": [
          "url",
          "events"
        ],
        "properties": {
          "url": {
            "type": "string",
            "format": "uri",
            "description": "URL to receive webhook events"
          },
          "events": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of event types to subscribe to"
          },
          "description": {
            "type": "string",
            "description": "Description for this endpoint"
          }
        }
      },
      "UpdateWebhookEndpointDto": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "format": "uri",
            "description": "URL to receive webhook events"
          },
          "events": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of event types to subscribe to"
          },
          "description": {
            "type": "string",
            "description": "Description for this endpoint"
          },
          "is_active": {
            "type": "boolean",
            "description": "Whether the endpoint is active"
          }
        }
      },
      "GenerateApiKeyDto": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "Nome descritivo para a API Key",
            "example": "Integração Produção"
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time",
            "description": "Data de expiração (opcional)",
            "example": "2025-12-31T23:59:59Z"
          }
        }
      }
    }
  },
  "paths": {
    "/v1.0": {
      "get": {
        "tags": [
          "Eventos"
        ],
        "summary": "Informações da API v1.0",
        "operationId": "getApiInfo",
        "responses": {
          "200": {
            "description": "Sucesso"
          }
        }
      }
    },
    "/v1.0/recipients": {
      "get": {
        "tags": [
          "Emissões"
        ],
        "summary": "Buscar Destinatário",
        "operationId": "getRecipients",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "event_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "ID do evento associado à emissão"
          },
          {
            "name": "badge_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "ID do badge utilizado na emissão"
          },
          {
            "name": "invitation_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "ID do certificado emitido"
          },
          {
            "name": "recipient_email",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "E-mail informado no momento da emissão"
          },
          {
            "name": "recipient_name",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Nome informado no momento da emissão"
          },
          {
            "name": "reason",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Motivo da emissão do certificado"
          }
        ],
        "responses": {
          "200": {
            "description": "Lista restrita de destinatários encontrados com base nos filtros informados"
          },
          "400": {
            "description": "Filtros insuficientes (faltou contexto e/ou identificador)"
          },
          "401": {
            "description": "Acesso não autorizado"
          },
          "404": {
            "description": "Nenhum resultado encontrado"
          },
          "429": {
            "description": "Rate limit (proteção contra uso indevido)"
          }
        }
      }
    },
    "/v1.0/recipient-invitations": {
      "get": {
        "tags": [
          "Emissões"
        ],
        "summary": "Listar Convites de Destinatários",
        "operationId": "getRecipientInvitations",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Limite de resultados"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Offset para paginação"
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de convites de destinatários retornada com sucesso"
          }
        }
      }
    },
    "/v1.0/invitations": {
      "post": {
        "tags": [
          "Emissões"
        ],
        "summary": "Emitir Certificados",
        "operationId": "issueInvitation",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IssueInvitationDto"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Certificado emitido com sucesso"
          },
          "400": {
            "description": "Dados inválidos ou ausentes"
          },
          "401": {
            "description": "API Key inválida"
          },
          "402": {
            "description": "Saldo insuficiente para emissão"
          },
          "404": {
            "description": "Evento inexistente, finalizado ou não pertencente ao emissor / Badge inexistente ou não pertencente ao emissor"
          },
          "409": {
            "description": "Certificado já emitido para o mesmo destinatário"
          }
        }
      },
      "get": {
        "tags": [
          "Emissões"
        ],
        "summary": "Listar Certificados",
        "operationId": "getInvitations",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Quantidade máxima de certificados retornados por página"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Posição inicial da listagem para paginação"
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filtra pelo status de aceite do certificado (PENDING, ACCEPTED)"
          },
          {
            "name": "event_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filtra certificados emitidos para um evento específico"
          },
          {
            "name": "badge_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filtra certificados emitidos utilizando um badge específico"
          },
          {
            "name": "created_from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filtra certificados emitidos a partir de uma data (ISO 8601)"
          },
          {
            "name": "created_to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filtra certificados emitidos até uma data (ISO 8601)"
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Campo de ordenação (padrão: created_at)"
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Ordem de ordenação: asc ou desc (padrão: desc)"
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de certificados retornada com sucesso"
          },
          "401": {
            "description": "API Key inválida"
          }
        }
      }
    },
    "/v1.0/badges": {
      "get": {
        "tags": [
          "Badges"
        ],
        "summary": "Listar Badges",
        "operationId": "getBadges",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Quantidade máxima de badges retornados por página"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Posição inicial da listagem para paginação"
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de badges retornada com sucesso"
          },
          "401": {
            "description": "API Key inválida"
          }
        }
      }
    },
    "/v1.0/badges/{id}": {
      "get": {
        "tags": [
          "Badges"
        ],
        "summary": "Informações de uma Badge",
        "operationId": "getBadgeById",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID do badge (badge_id)"
          }
        ],
        "responses": {
          "200": {
            "description": "Badge retornado com sucesso"
          },
          "401": {
            "description": "API Key inválida"
          },
          "404": {
            "description": "Badge não encontrado"
          }
        }
      }
    },
    "/v1.0/events": {
      "get": {
        "tags": [
          "Eventos"
        ],
        "summary": "Listar Eventos",
        "operationId": "getEvents",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Quantidade máxima de eventos retornados por página"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Posição inicial da listagem para paginação"
          },
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Busca textual por nome do evento (case-insensitive)"
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filtra por status do evento (ACTIVE, CLOSED, ARCHIVED)"
          },
          {
            "name": "category",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filtra por categoria do evento (ex.: EDUCATION, SPORTS, CORPORATE, SOCIOCULTURAL)"
          },
          {
            "name": "created_from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filtra eventos criados a partir de uma data (ISO 8601)"
          },
          {
            "name": "created_to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filtra eventos criados até uma data (ISO 8601)"
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Campo de ordenação (padrão: created_at)"
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Ordem de ordenação: asc ou desc (padrão: desc)"
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de eventos retornada com sucesso"
          },
          "401": {
            "description": "API Key inválida"
          }
        }
      },
      "post": {
        "tags": [
          "Eventos"
        ],
        "summary": "Criar um ou mais eventos",
        "operationId": "createEvent",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Objeto com os atributos de um evento ou array de eventos",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateEventsBodyDto"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Evento(s) criado(s) com sucesso"
          },
          "400": {
            "description": "Dados inválidos"
          },
          "401": {
            "description": "API Key inválida"
          },
          "403": {
            "description": "Acesso negado"
          }
        }
      }
    },
    "/v1.0/events/{id}": {
      "patch": {
        "tags": [
          "Eventos"
        ],
        "summary": "Atualizar um evento específico",
        "operationId": "updateEvent",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID do evento"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateEventDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Evento atualizado com sucesso"
          },
          "400": {
            "description": "Dados inválidos"
          },
          "401": {
            "description": "API Key inválida"
          },
          "403": {
            "description": "Acesso negado"
          },
          "404": {
            "description": "Evento não encontrado"
          },
          "409": {
            "description": "Evento já finalizado (não pode ser modificado)"
          }
        }
      },
      "delete": {
        "tags": [
          "Eventos"
        ],
        "summary": "Deletar Evento",
        "operationId": "deleteEvent",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID do evento a ser deletado (event_id)"
          }
        ],
        "responses": {
          "204": {
            "description": "Evento deletado com sucesso (sem conteúdo no corpo)"
          },
          "401": {
            "description": "API Key inválida"
          },
          "404": {
            "description": "Evento não encontrado ou não pertence ao emissor autenticado"
          },
          "409": {
            "description": "Evento não pode ser deletado (emissões ou está finalizado)"
          }
        }
      },
      "get": {
        "tags": [
          "Eventos"
        ],
        "summary": "Obter um evento específico",
        "operationId": "getEventById",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID do evento"
          }
        ],
        "responses": {
          "200": {
            "description": "Evento retornado com sucesso"
          },
          "401": {
            "description": "API Key inválida"
          },
          "404": {
            "description": "Evento não encontrado"
          }
        }
      }
    },
    "/v1.0/events/{id}/badges": {
      "get": {
        "tags": [
          "Eventos"
        ],
        "summary": "Obter badges de um evento",
        "operationId": "getEventBadges",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID do evento"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Limite de resultados"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Offset para paginação"
          }
        ],
        "responses": {
          "200": {
            "description": "Badges do evento retornados com sucesso"
          }
        }
      }
    },
    "/v1.0/balance": {
      "get": {
        "tags": [
          "Saldo"
        ],
        "summary": "Saldo",
        "operationId": "getBalance",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Saldo atual de créditos retornado com sucesso"
          },
          "401": {
            "description": "API Key inválida ou ausente"
          }
        }
      }
    },
    "/v1.0/emissions": {
      "post": {
        "tags": [
          "Emissões"
        ],
        "summary": "Emitir Certificados (alias)",
        "operationId": "issueEmission",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IssueInvitationDto"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Certificado emitido com sucesso"
          },
          "400": {
            "description": "Dados inválidos ou ausentes"
          },
          "401": {
            "description": "API Key inválida"
          },
          "402": {
            "description": "Saldo insuficiente para emissão"
          },
          "404": {
            "description": "Evento ou badge não encontrado"
          },
          "409": {
            "description": "Certificado já emitido para o mesmo destinatário"
          }
        }
      }
    },
    "/v1.0/webhooks": {
      "post": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Create a webhook endpoint",
        "operationId": "createWebhookEndpoint",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWebhookEndpointDto"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Webhook endpoint created"
          }
        }
      },
      "get": {
        "tags": [
          "Webhooks"
        ],
        "summary": "List webhook endpoints",
        "operationId": "listWebhookEndpoints",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of webhook endpoints"
          }
        }
      }
    },
    "/v1.0/webhooks/{id}": {
      "get": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Get a webhook endpoint",
        "operationId": "getWebhookEndpoint",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID do webhook endpoint"
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook endpoint details"
          },
          "404": {
            "description": "Webhook endpoint not found"
          }
        }
      },
      "patch": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Update a webhook endpoint",
        "operationId": "updateWebhookEndpoint",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID do webhook endpoint"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateWebhookEndpointDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook endpoint updated"
          },
          "404": {
            "description": "Webhook endpoint not found"
          }
        }
      },
      "delete": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Delete a webhook endpoint",
        "operationId": "deleteWebhookEndpoint",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID do webhook endpoint"
          }
        ],
        "responses": {
          "204": {
            "description": "Webhook endpoint deleted"
          },
          "404": {
            "description": "Webhook endpoint not found"
          }
        }
      }
    },
    "/v1.0/webhooks/{id}/deliveries": {
      "get": {
        "tags": [
          "Webhooks"
        ],
        "summary": "List deliveries for a webhook endpoint",
        "operationId": "listWebhookDeliveries",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID do webhook endpoint"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page number"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20
            },
            "description": "Items per page"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of deliveries"
          },
          "404": {
            "description": "Webhook endpoint not found"
          }
        }
      }
    },
    "/v1.0/webhooks/{id}/test": {
      "post": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Send a test webhook event",
        "operationId": "testWebhookEndpoint",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID do webhook endpoint"
          }
        ],
        "responses": {
          "200": {
            "description": "Test event dispatched"
          },
          "404": {
            "description": "Webhook endpoint not found"
          }
        }
      }
    },
    "/dashboard/events/list": {
      "get": {
        "tags": [
          "Dashboard"
        ],
        "summary": "Listar eventos do dashboard",
        "operationId": "listEvents",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Busca textual por nome do evento"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Número da página"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20
            },
            "description": "Itens por página"
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de eventos retornada com sucesso"
          }
        }
      }
    },
    "/dashboard/funnel/{event_id}": {
      "get": {
        "tags": [
          "Dashboard"
        ],
        "summary": "Obter funil de um evento",
        "operationId": "getFunnel",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "event_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID do evento"
          }
        ],
        "responses": {
          "200": {
            "description": "Dados do funil retornados com sucesso"
          }
        }
      }
    },
    "/dashboard/winners/{event_id}": {
      "get": {
        "tags": [
          "Dashboard"
        ],
        "summary": "Listar vencedores de um evento",
        "operationId": "getWinners",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "event_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID do evento"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Número da página"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 50
            },
            "description": "Itens por página (máximo 50)"
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de vencedores retornada com sucesso"
          }
        }
      }
    },
    "/dashboard/export/csv": {
      "get": {
        "tags": [
          "Dashboard"
        ],
        "summary": "Exportar dados em CSV",
        "operationId": "exportCsv",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Arquivo CSV gerado com sucesso",
            "content": {
              "text/csv": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/certificate/verify/{hash}": {
      "get": {
        "tags": [
          "Verificação"
        ],
        "summary": "Verificar autenticidade de um certificado",
        "operationId": "verifyCertificate",
        "parameters": [
          {
            "name": "hash",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Hash único do certificado"
          }
        ],
        "responses": {
          "200": {
            "description": "Dados de verificação do certificado retornados com sucesso"
          },
          "404": {
            "description": "Certificado não encontrado"
          }
        }
      }
    },
    "/api-keys": {
      "post": {
        "tags": [
          "API Keys"
        ],
        "summary": "Gerar nova API Key",
        "description": "Gera uma nova API Key para autenticação na API pública v1.0. A autenticação é feita apenas através do token fornecido.",
        "operationId": "generateApiKey",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateApiKeyDto"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "API Key gerada com sucesso. O token retornado deve ser usado no header Authorization: Bearer {token} para acessar as rotas da API v1.0."
          },
          "401": {
            "description": "Não autorizado"
          },
          "403": {
            "description": "Acesso negado"
          }
        }
      },
      "get": {
        "tags": [
          "API Keys"
        ],
        "summary": "Listar API Keys da empresa",
        "operationId": "listApiKeys",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de API Keys"
          },
          "401": {
            "description": "Não autorizado"
          },
          "403": {
            "description": "Acesso negado"
          }
        }
      }
    },
    "/api-keys/{id}/revoke": {
      "patch": {
        "tags": [
          "API Keys"
        ],
        "summary": "Inativar (revogar) uma API Key",
        "operationId": "revokeApiKey",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID da API Key"
          }
        ],
        "responses": {
          "200": {
            "description": "API Key inativada com sucesso"
          },
          "401": {
            "description": "Não autorizado"
          },
          "403": {
            "description": "Acesso negado"
          },
          "404": {
            "description": "API Key não encontrada"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Emissões",
      "description": "Emitir certificados e gerenciar destinatários"
    },
    {
      "name": "Eventos",
      "description": "Criar e gerenciar eventos"
    },
    {
      "name": "Badges",
      "description": "Gerenciar badges/TMs"
    },
    {
      "name": "Saldo",
      "description": "Consultar saldo de emissões"
    },
    {
      "name": "Dashboard",
      "description": "Analytics e exportação de dados"
    },
    {
      "name": "Webhooks",
      "description": "Configurar notificações em tempo real"
    },
    {
      "name": "API Keys",
      "description": "Gerenciar chaves de API"
    },
    {
      "name": "Verificação",
      "description": "Verificar autenticidade de certificados"
    }
  ]
}